img{
  width: 450px;
  display: block;
  margin: auto;
}

h2{
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



#button{
  display: block;
  margin: auto;
}

#tweet{
  width: 300px;
  position: relative;
    left: 50px;
  margin: 20px;

}
