img{
  width: 450px;
  display: block;
  margin: auto;
}

h2{
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}

/*clash of clans logo in the top left corner*/
#home{
  width: 150px;
  position: absolute;
  left: -180px;

}

/*footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/*end footer*/


#button{
  display: block;
  margin: auto;
}

#clash{
  width: 300px;
  margin: 20px;
}

#supercell{
  width: 300px;
  margin: 20px;
}
