img{
  width: 300px;
  display: block;
  margin: auto;
}

h2{
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}


.page-footer{
  position: fixed;
  bottom:0px;
  height:80px;
  width:100%;
}
