<html>
  <head>
    <link rel="icon" href="./favicon.ico">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">  <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>


<!--Top Left Clash Image and Navbar  -->
<nav class="blue darken-3">
  <div class="nav-wrapper container">
    <a routerLink=""><img id="home" src="assets/images/clash.png" align="left"></a>
  </div>
</nav>

<router-outlet></router-outlet>

<!--Footer -->

<footer class="page-footer blue">
    <div class="footer-copyright">
      <div class="container">
      Made by Epicodus Students
      </div>
    </div>
  </footer>
</html>
