<div class="container">
  <h1>Player Detail</h1>

  <img src="../../assets/images/artAssets/Characters/Giant.png" alt="" />

  <h3>Player Name</h3>
  <h5>Town Hall Level: 5</h5>
  <h5>Player Level: 100</h5>
  <hr>
  <div class="row">
    <div class="col s2 info-badge"><span class="flow-text"><b>Trophy<br>Count</b></span></div>
    <div class="col s2 info-badge"><span class="flow-text"><b>War<br> Stars</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Attack <br>Wins</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Defense<br>Wins</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Troops<br>Donated</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Troops<br>Received</b></span></div>
  </div>
  <div class="row">
    <div class="col s2 "><span class="flow-text">500</span></div>
    <div class="col s2 "><span class="flow-text">36</span></div>
    <div class="col s2 "><span class="flow-text">20</span></div>
    <div class="col s2 "><span class="flow-text">51</span></div>
    <div class="col s2 "><span class="flow-text">472</span></div>
    <div class="col s2 "><span class="flow-text">621</span></div>
  </div>
</div>

  <div class="container">
    <hr>
    <h3>Troops</h3>
  <div class="row">
    <div class="col m12">
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_archer.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_barbarian.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_giant.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_goblin.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_wallbreaker.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_balloon.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_wizard.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_healer.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_dragon.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_pekka.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_babydragon.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_minion.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_miner.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_valkyrie.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_witch.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_golem.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_bowler.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_hogrider.png" alt="" />
      <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_lavahound.png" alt="" />
    </div>
  </div>
  <h3>Spells</h3>
  <div class="row">
    <img class="icon col" src="../../assets/images/artAssets/spells/Lightning_icon.png" alt="" />
    <img class="icon col" src="../../assets/images/artAssets/spells/Heal_icon.png" alt="" />
    <img class="icon col" src="../../assets/images/artAssets/spells/Rage_icon.png" alt="" />
    <img class="icon col" src="../../assets/images/artAssets/spells/Jump_icon.png" alt="" />
    <img class="icon col" src="../../assets/images/artAssets/spells/Freeze_icon.png" alt="" />
    <img class="icon col" src="../../assets/images/artAssets/spells/Clone_icon.png" alt="" />
    <img class="icon col" src="../../assets/images/artAssets/spells/Poison_icon.png" alt="" />
    <img class="icon col" src="../../assets/images/artAssets/spells/Earthquake_icon.png" alt="" />
    <img class="icon col" src="../../assets/images/artAssets/spells/Haste_icon.png" alt="" />
    <img class="icon col" src="../../assets/images/artAssets/spells/Skeleton_icon.png" alt="" />
  </div>
<h3>Heros</h3>
<div class="row">
  <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_archerQueen_profile.png" alt="" />
  <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_barbarianKing_profile.png" alt="" />
  <img class="icon col" src="../../assets/images/artAssets/TroopIcons/icon_grandwarden.png" alt="" />
</div>


</div>


<!-- //Image Asset
//town Hall Level

//EXP LEVEL
//TROPHY
//WAR STARS
//ATTACK WINS
//DEFENSE WINS
//TROOPS DONATED
//TROOPS RECEIVED

//**TROOP SECTION**
//SPELLS
//HEROES

//**PLAYER BEST**
// HIGHEST TROPHY LEVEL
// BEST RANK IN A CLAN

//**CLAN INFORMATION**
//RANK IN CLAN
//ROLE IN CLAN

//PLAYER ACHIEVEMENTS -->
