img {
  width: 65%;
  display: block;
  margin: auto;
  margin-bottom: -30px;
  margin-top: -30px;
}

#league{
  width:30px;
  display: inline;
  vertical-align:middle;
}

h1, h3, h5{
  text-align: center;
  font-family: clashfont;
  opacity: 1;
}
.info-badge {

display: block;
position: relative;
width: 100%;
border: 1px solid #CCC;
border-radius: 4px;
padding-top: 8px;
margin-top: 5px;
z-index: 1;
padding-left: 5px;
padding-right: 5px;
}

.row {
  text-align: center;
  font-weight: bold;
}

.icon{
  width: 100px;
  /*margin: -22px;*/
  margin: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 90%;
}

.row .col{
  padding: 0;
  position: relative;
}

.level{
  position: absolute;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  left: 42%;
  top: 35%;
}

/*#text{
  position: absolute;
  top: -12px;
  left: 5px;
  font-size: .9rem;
  background-color: ;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
  max-width: 100%;
  white-space: nowrap;
}

*{
  box-sizing: inherit;
}*/
