<div class="container">
  <h1>Player Detail</h1>

  <img src="{{imgStr}}" alt="" />

  <h3>Name: {{data?.name}}</h3>
  <h5>Tag: {{data?.tag}}</h5>
  <div class="league">
  <h5 *ngIf='data?.league'>League: {{data?.league.name}}<img id="league" src="{{data?.league.iconUrls.medium}}" alt=""></h5>
  </div>


  <h5>Townhall Level: {{data?.townHallLevel}}</h5>
  <h5>Experience Level: {{data?.expLevel}}</h5>
  <hr>
  <div class="row">
    <div class="col s2 info-badge"><span class="flow-text"><b>Trophy<br>Count</b></span></div>
    <div class="col s2 info-badge"><span class="flow-text"><b>War<br> Stars</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Attack <br>Wins</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Defense<br>Wins</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Troops<br>Donated</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Troops<br>Received</b></span></div>
  </div>
  <div class="row">
    <div class="col s2 "><span class="flow-text">{{data?.trophies}}</span></div>
    <div class="col s2 "><span class="flow-text">{{data?.warStars}}</span></div>
    <div class="col s2 "><span class="flow-text">{{data?.attackWins}}</span></div>
    <div class="col s2 "><span class="flow-text">{{data?.defenseWins}}</span></div>
    <div class="col s2 "><span class="flow-text">{{data?.donations}}</span></div>
    <div class="col s2 "><span class="flow-text">{{data?.donationsReceived}}</span></div>
  </div>
</div>
<div class="container">
    <h3>Player Bests</h3>
  <hr>
  <div class="row">
    <div class="col s2 info-badge"><span class="flow-text"><b>Highest Trophy<br>Count</b></span></div>
    <div class="col s2 info-badge"><span class="flow-text"><b>Best Versus<br> Trophies</b></span></div>
  </div>
  <div class="row">
    <div class="col s2"><span class="flow-text">{{data?.bestTrophies}}</span></div>
    <div class="col s2 "><span class="flow-text">{{data?.bestVersusTrophies}}</span></div>
  </div>

</div>

<div class="container">
    <h3>Achievements</h3>
  <hr>
  <div class="row">
    <div class="col s2 info-badge"><span class="flow-text"><b>Obstacles<br>Removed</b></span></div>
    <div class="col s2 info-badge"><span class="flow-text"><b>Gold<br> Looted</b></span></div>
    <div class="col s2 info-badge"><span class="flow-text"><b>Elixir<br> Looted</b></span></div>
    <div class="col s2 info-badge"><span class="flow-text"><b>Walls<br> Destroyed</b></span></div>
  </div>
  <div class="row">
    <div class="col s2"><span class="flow-text">{{data?.achievements[3].value}}/500</span></div>
    <div class="col s2 "><span class="flow-text" style="font-size:18px;">{{data?.achievements[5].value}}</span></div>
    <div class="col s2"><span class="flow-text" style="font-size:18px;">{{data?.achievements[6].value}}</span></div>
    <div class="col s2"><span class="flow-text" style="font-size:18px;">{{data?.achievements[9].value}}/2000</span></div>
  </div>

</div>

  <div class="container">
    <hr>
    <h3>Troops</h3>
  <div class="row">
    <div class="col m12">
      <div class="col" *ngFor='let troop of data?.troops'>
        <div *ngIf='troop.village!="builderBase"'>
          <img class="icon" src="../../assets/images/artAssets/TroopIcons/{{troop.name}}.png" alt="" />
          <h5 class='level'>{{troop.level}}</h5>
        </div>
      </div>
    </div>
  </div>
  <h3>Spells</h3>
  <div class="row">
    <div class="col" *ngFor='let spell of data?.spells'>
      <img class="icon" src="../../assets/images/artAssets/spells/{{spell.name}}.png" alt="" />
      <h5 class='level'>{{spell.level}}</h5>
    </div>
  </div>

<h3>Heroes</h3>
<div class="row">
  <div class="col" *ngFor='let hero of data?.heroes'>
    <img class="icon" src="../../assets/images/artAssets/TroopIcons/{{hero.name}}.png" alt="" />
    <h5 class='level'>{{hero.level}}</h5>
  </div>
</div>


</div>


<!-- //Image Asset
//town Hall Level

//EXP LEVEL
//TROPHY
//WAR STARS
//ATTACK WINS
//DEFENSE WINS
//TROOPS DONATED
//TROOPS RECEIVED

//**TROOP SECTION**
//SPELLS
//HEROES

//**PLAYER BEST**
// HIGHEST TROPHY LEVEL
// BEST RANK IN A CLAN

//**CLAN INFORMATION**
//RANK IN CLAN
//ROLE IN CLAN

//PLAYER ACHIEVEMENTS -->
