<!--Barbarian Image and Title  -->
<div class="white">
<div class="jumbotron">
  <img src="assets/images/barb.png" alt="" align="middle">
  <div class="banner">
    <h2>CLASH OF CLANS <br> STATS FINDER</h2>
      <h5 align="middle">Lookup stats about your Clan or Individual Player Info</h5>
  </div>
</div>

  <br>
  <br>
</div>


<div class="parallax"></div>

  <!--Lookup Bars   -->
<div class="white">

<div class="container">
  <h3>Search</h3>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate">
          <label class="active" for="icon_prefix">Seach For Your Clan</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">perm_identity</i>
          <input id="perm_identity" type="tel" class="validate">
          <label class="active" for="perm_identity">Enter Your Player Tag</label>
        </div>
      </div>
      <button id="button"class="btn waves-effect waves-light blue darken-2" type="submit" name="action">Submit
        <i class="material-icons right"></i>
      </button>
    </form>
  </div>
</div>
<br>
<br>
<br>
<br>
</div>

<div class="parallax2"></div>


<!--Goblin Image and Twitter Feeds Below  -->
  <img src="assets/images/goblin.png" align="middle" >
  <h3 style="text-align: center">Stay in Touch</h3>


  <div class=" white row">
    <div class="col s3">
    </div>
    <div id="clash"class="z-depth-5 col s4">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/ClashOfClans" data-widget-id="876903261403455489">#ClashOfClans Tweets</a>
    </div>

    <div id="supercell" class="z-depth-5 col s4">
      <a class="twitter-timeline"  href="https://twitter.com/hashtag/supercell" data-widget-id="876884800203706373">#supercell Tweets</a>
    </div>
    <div class="col s2">
    </div>
  </div>
