img{
  width: 450px;
  display: block;
  margin: auto;
}

@font-face {
  font-family: 'clashFont';
  src: url('../webfont.ttf')  format('truetype');
}

h2{
  /*font-family: 'Bungee Shade', cursive;*/
  text-align: center;
  font-family: 'clashFont';
}

h3{
  font-family: 'clashFont';
}

/*clash of clans logo in the top left corner*/
#home{
  width: 150px;
  position: absolute;
  left: -180px;

}

#button{
  display: block;
  margin: auto;
}
#twitter-row{
  text-align: center;
}
#clash{
  width: 300px;
  margin: auto;
  display: inline-block;
}

#supercell{
  width: 300px;
  margin: auto;
  display: inline-block;
  margin: 50px 50px 0px 50px;
}

.parallax {
  position: relative;
    /* The image used */
    background-image: url('http://www.onehiveclan.com/uploads/2/8/8/6/28864503/wiz_bunny_hd.jpg');

    /* Full height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white{
  background-color: white;
}

body, html {
    height: 100%;
}


.parallax2 {
  position: relative;
    /* The image used */
    background-image: url('http://www.onehiveclan.com/uploads/2/8/8/6/28864503/wiz_bunny_hd.jpg');

    /* Full height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#gob{
  margin-top:-15px;
}
