<div class="container">


  <img id="shield" src="../../assets/images/artAssets/Shields/shield1.png" alt="" />

  <h3>Clan Name: {{data?.name}}</h3>
  <h5>Clan Slogan: {{data?.description}}</h5>
  <h5>Clan Level: {{data?.clanLevel}}</h5>
  <hr>
  <div class="row">
    <div class="col s2 info-badge"><span class="flow-text"><b>Global<br>Rank</b></span></div>
    <div class="col s2 info-badge"><span class="flow-text"><b>War<br> Win Streak</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>War <br>Wins</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Clan<br>Trophies</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Troops<br>Donated</b></span></div>
    <div class="col s2 info-badge "><span class="flow-text"><b>Troops<br>Received</b></span></div>
  </div>
  <div class="row">
    <div class="col s2 "><span class="flow-text">500</span></div>
    <div class="col s2 "><span class="flow-text">{{data?.warWinStreak}}</span></div>
    <div class="col s2 "><span class="flow-text">{{data?.warWins}}</span></div>
    <div class="col s2 "><span class="flow-text">51</span></div>
    <div class="col s2 "><span class="flow-text">472</span></div>
    <div class="col s2 "><span class="flow-text">621</span></div>
  </div>
  <hr>
</div>
  <div class="container z-depth-4" style="padding:20px;">
    <img id="healer" src="../../assets/images/artAssets/Characters/Healer.png" alt="" />

    <h3 >Clan Members</h3>
    <div class="row">
      <div class="col s2 "><span class="flow-text">Player Name</span></div>
      <div class="col s2 "><span class="flow-text">Experience Level</span></div>
      <div class="col s2 "><span class="flow-text">Donated Troops</span></div>
      <div class="col s2 "><span class="flow-text">Donations <br>Received</span></div>
      <div class="col s2 "><span class="flow-text">Trophies</span></div>
      <div class="col s2 "><span class="flow-text">Versus Trophies</span></div>
    </div>

    <!-- loop through the clan members -->
    <div *ngFor="let player of data?.memberList" class="row hoverable">
      <div class="col s2 "><span class="flow-text"><a href="player/{{player.tag}}">{{player.name}}</a></span></div>
      <div class="col s2 "><span class="flow-text">{{player.expLevel}}</span></div>
      <div class="col s2 "><span class="flow-text">{{player.donations}}</span></div>
      <div class="col s2 "><span class="flow-text">{{player.donationsReceived}}</span></div>
      <div class="col s2 "><span class="flow-text">{{player.trophies}}</span></div>
      <div class="col s2 "><span class="flow-text">{{player.versusTrophies}}</span></div>
    </div>
  </div>

<img id="barb" src="../../assets/images/artAssets/barb?.png" alt="" />
<br>
<br>
<br>
<br>
<br>
<br>


<!-- //Image Asset
//town Hall Level

//EXP LEVEL
//TROPHY
//WAR STARS
//ATTACK WINS
//DEFENSE WINS
//TROOPS DONATED
//TROOPS RECEIVED

//**TROOP SECTION**
//SPELLS
//HEROES

//**PLAYER BEST**
// HIGHEST TROPHY LEVEL
// BEST RANK IN A CLAN

//**CLAN INFORMATION**
//RANK IN CLAN
//ROLE IN CLAN

//PLAYER ACHIEVEMENTS -->


<!-- // clan points (trophies)
// Clan versus points
// status (i.e invite only)

//war win streak

//**CLANS RANKINGS**
//Global Rank
//Current War Win Streak
//  -Global
//  -International
//Total War Wins
//  -Global
//  -International

//**CLANS BEST (Different Section)**
//Clan Points (Trophies)
//Clan Versus Points
//War WIn Streak

//**CLANS Members (Different Section)**
//Experience
//Name
//Troops Donated
//Trophies
//Attack Wins
//Defense Wins -->
